# App Configuration
# Default Admin Login: admin@alumnix.com / Admin@123
NODE_ENV=development
PORT=3000

# NextAuth Configuration
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Database Configuration
DATABASE_URL="file:./dev.db"

# Features Configuration
OTP_EXPIRY_MINUTES=10

# Social Login
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""

# Notifications
RESEND_API_KEY=""
